{% extends "base.html" %}
{% block metas %}
{{super()}}
<meta name="description"
      content="Dashboard of Jio coin- truly decentralized cryptocurrency coded in Python- account holders">
<meta name="keywords" content="Cryptocurrency, Blockchain, Python, Dashboard, Members">
{% endblock %}
{% block title %}
Jio Coin- Dashboard
{% endblock %}
{% block styles %}
{{super()}}
<style>
  .table-bordered > tbody > tr > td {
    border: 1px solid transparent;
  }
  .nav-link {
    float: right;
    position: relative;
    top: 60px;
    padding-right: 20px;
  }
</style>
{% endblock %}
{% block content %}
<div class="container" style="max-width: 1400px;">
  <div class="content" style="min-height: 98vh;">
    <div class="row">
      <a class="brand" href="#">
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="Jio Coin Logo" width="100" height="100">
      </a>
      <a class="nav-link" href="logout">Logout</a>
      <a class="nav-link" href="transaction" style="right: 20px;">Transaction</a>
      <a class="nav-link" href="new_wallet" style="right: 40px;">Wallet</a>
    </div>
    {% block flash %}
    <div id="res"></div>
    {{super()}}
    {% endblock %}
    {% block page_content %}
    {% if session['url'] == '/register' %}
    <h1>Welcome, {{ session['name'] }}</h1>
    {% elif session['url'] == '/login' %}
    <h1>Welcome back, {{ session['name'] }}</h1>
    {% else %}
    <h1>Hello, {{ session['name'] }}</h1>
    {% endif %}
    <div id="balance">
      <h3 class="h3 mb-3 fw-normal">
        Current Balance: {{ '%.4f'|format(balance|float) }}
        <span class="h4">JIO</span>
      </h3>
    </div>
    <hr>
    <h3 class="h3">Jio Coin Blockchain</h3>
    <button type="button" class="btn btn-primary" id="btn-mine" style="margin-top: 10px;">
      Mine block
    </button>
    <button type="button" class="btn btn-primary" id="btn-resolve" style="margin-top: 10px;">
      Resolve conflicts
    </button>
    <div id="accordion" class="panel-group" style="margin-top: 20px;">
      {% for block in chain %}
        {% set tnxs = block.__dict__['transactions'] %}
        {% set count = loop.index %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <h4 class="col-md-4 panel-title">
              <a href="#collapse{{ count }}" data-toggle="collapse" data-parent="#accordion">Block #{{ block.index }}</a>
            </h4>
            <div class="col-md-8 text-right">Hash: <b>{{ block.hash }}</b></div>
          </div>
        </div>
        <div id="collapse{{ count }}" class="panel-collapse collapse">
          <div class="panel-body">
            {% for tnx in tnxs[0:] %}
            <div class="well">
              <div class="row">
                <div class="col-md-2">
                  Tnx <b>#{{ loop.index }}</b>
                </div>
                <div class="col-md-4">
                  Sender: {{ tnx['sender'] }}
                </div>
                <div class="col-md-4">
                  Recipient: {{ tnx['recipient'] }}
                </div>
                <div class="col-md-2">
                  Amount: {{ tnx['amount'] }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <hr>
    <h3 class="h3">Open transactions</h3>
    <div class="table-responsive" id="open-transaction">
      <table class="table table-striped" id="table-open-transactions">
        <thead>
          <tr>
            <th scope="col" class="text-center">Tnx#</th>
            <th scope="col" class="text-center">Sender</th>
            <th scope="col" class="text-center">Recipient</th>
            <th scope="col" class="text-center">Amount</th>
          </tr>
        </thead>
        <tbody>
        {% for transaction in open_transactions %}
          {% set count = loop.index %}
          <tr class="tr-class-{{ count }}">
            <td>{{ count }}</td>
            <td class="text-left">{{ transaction.sender }}</td>
            <td class="text-left">{{ transaction.recipient }}</td>
            <td class="text-left">{{ transaction.amount }}</td>
          </tr>
        {% endfor %}
        {% if open_transactions|length == 0 %}
        <tr>
          <td class="text-center" colspan="4">No Open Transactions</td>
        </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
    <hr>
  </div>
  {% endblock %}
  {%- block footer %}
  <footer class="mt-5 text-muted">
    &copy;
    <script>document.write( new Date().getFullYear() );</script>
    Jio Crypto Services.
  </footer>
  {%- endblock footer %}
  </div>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
  $(function() {
    $('#btn-mine').on('click', function() {
      $.post('/mine',function(res) {
        $('#balance').load(location.href+' #balance>*','');
        $('#accordion').load(location.href+' #accordion>*','');
        $('#open-transaction').load(location.href+' #open-transaction>*','');
        $('#res').empty().append(res);
      });
    });
    $('#btn-resolve').on('click', function() {
      $.post('/resolve-conflicts',function(res) {
        $('#res').empty().append(res);
        $('#balance').load(location.href+' #balance>*','');
        $('#accordion').load(location.href+' #accordion>*','');
        $('#open-transaction').load(location.href+' #open-transaction>*','');
      });
    });
  });
</script>
{% endblock %}